<% if account_signed_in? %>
    <div class="float-right">
        <%= link_to "Create New Post", new_community_post_path(@community), class: "btn btn-outline-info"%>
    </div>
<% end %>

<h1><%= "W/"+@community.name %></h1>

<small><%= simple_format @community.rules %></small>

<div class="container">
    <div class="row">
       <div class="col-8">
            <% @posts.each do |post|%>
                <h4><%= link_to post.title, community_post_path(@community, post) %></h4>
                <p> <%= truncate post.body, length: 200 %> </p>
            <% end %>
       </div>
       <div class="col-4">
            <div class="sidebar">
                <p class="h5 mb-4">Popular Communities</p>
                <div class="card text-white bg-dark communities">
                    <ul class="list-group list-group-flush">
                    <% @communities.each do |community| %>
                        <li class="list-group-item list-group-item-dark"> <%= link_to community.name, community_path(community) %> </li>
                    <% end %>
                    </ul>
                </div>

            <%= link_to "View all", communities_path , class: "btn btn-light m-3 container-fluid"%>
            </div>
       </div> 
    </div>
</div>