<!DOCTYPE html>
<html>
  <head>
    <title>Weebbit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= tinymce_assets %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <script type="text/javascript" src="/assets/tinymce.js"></script>

  </head>

  <body>
    <%= render partial: "layouts/header"%>

      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <%= yield %>
          </div>
        </div>
      </div>
  </body>
</html>
